
<header>

    <button class = "X-Button" (click) = "backToShoppingList()" 
        style = "color:red"><strong>X</strong>
    </button>

    <h1 style = "color:deepskyblue">Angebote</h1>

</header>


<form>
   
    <mat-form-field>
        <mat-label>Angebote</mat-label> 
        <div class = "deals-select">
            <mat-select [(value)] = "selected" >
                <mat-optgroup>
                    <mat-option>---</mat-option>
                </mat-optgroup>
                <mat-optgroup class="sorts" *ngFor="let product of products" [label]="product.sort">
                    <mat-option class="items" *ngFor="let item of product.item"[value] = "item.name" >
                        
                        {{item.name}}: {{item.price}}{{'€'}}

                    </mat-option>

                </mat-optgroup>
   
            </mat-select>
       
         </div>
    </mat-form-field>

   
</form>
   
<button class = "add" (click) = "addProduct(selected)"> Hinzufügen und Bestätigen!</button>


