<button class = "X-Button" (click) = "returnToStartPage()" style = "color:red">
    <strong>X</strong>
</button>

<h1>Einkaufsliste</h1>

<h2>Produkteliste</h2>

<div role = "product-list" fxLayout = "column">
    <app-product *ngFor = "let product of listService.getProductList() | async" [productInstance] = "product"></app-product>
</div>

<div fxLayout = "row" class = "extra-buttons">
<button (click) = "toAngebote()">Angebote</button>

<button (click)= "toSortiments()">Sortimente</button>
</div>

<button (click) = "changeNavigationButton()" [disabled] = "listService.isConfirmationButtonDisabled()">
    Ok (Bestätigen)
</button>

