<button class = "X-Button" (click) = "disableNavigationButton()" style = "color:red">
    <strong>X</strong>
</button>

<h1>Einkaufsliste</h1>



<h4>Supermarktauswahl </h4>
<mat-form-field class="demo-full-width">
  <mat-label>Wählen sie einen Markt aus</mat-label>
  <select matNativeControl ="nativeSelectFormControl" [errorStateMatcher]="matcher">
    <option value=""></option>
    <option value="valid" selected>ALDI</option>
    <option value="invalid">LIDL</option>
  </select>
  <mat-error *ngIf="nativeSelectFormControl.hasError('required')">You must make a selection</mat-error>
  <mat-error *ngIf="nativeSelectFormControl.hasError('pattern') && !nativeSelectFormControl.hasError('required')">
    Markt derzeit nicht verfügbar
  </mat-error>
</mat-form-field>



<h2>Produktliste</h2>

<div role = "product-list" fxLayout = "column">
    <app-product *ngFor = "let product of listService.getProductList() | async" [productInstance] = "product"></app-product>
</div>

<div class = "extra-buttons">
<button (click) = "toAngebote()">Angebote</button>

<button (click)= "toSortiments()">Sortimente</button>
</div>

<div class = "total-price">
<mat-card class = "price-card" *ngIf = "listService.getTotalPrice() >= 0">
    <mat-card-title style = "font-size: medium;">Gesamtpreis:</mat-card-title>
    <mat-card-content>{{listService.getTotalPrice()}} €</mat-card-content>
</mat-card>

<mat-card class = "price-card" *ngIf = "listService.getTotalPrice() < 0">
    <mat-card-title style = "font-size: medium;">Gesamtpreis:</mat-card-title>
    <mat-card-content>Keine Produkte gewählt</mat-card-content>
</mat-card>
</div>

<div class = "confirm-button">
<button (click) = "enableNavigationButton()" style = "font-size: medium;" [disabled] = "listService.isConfirmationButtonDisabled()">
    Ok (Bestätigen)
</button>
</div>
